DirectoryIndex index.php

#allows a single uri through the .htaccess password protection
SetEnvIf Request_URI "/deploy.php$" deploy.php

AuthName "Restricted Area" 
AuthType Basic 
AuthUserFile /home/urbanfitbristol/public_html/pl/.htpasswd 
AuthGroupFile /dev/null 
require valid-user